# workspace items are only to support my personal thinking process
workspace/
src/pairs_trading/dbs/
.DS_Store
.idea/
src/pairs_trading/config/personal_constants.py
__pycache__/
src/pairs_trading/core/alpha_model.py
*todo.txt
